body{
    background-image: url(https://res.cloudinary.com/gestionarchivos/image/upload/v1639015374/met%C3%A1fora_1_w4irch.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ------------------------------------------ */


.cont-relacionados{
    display: flex;
    flex-direction: row;

    overflow-x: scroll;

}

.card-info{
    min-width: 300px;
    min-height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(93, 82, 253);
    text-align: center;
    margin: 10px;
    transition: all 0.25s;
}

.card-info img{
    margin-top: 20px;
    height: 200px;
    width: 100%;
    color: #534779a8;
}


.card-info h4{
    text-align: left;
    font-weight: 600;
    margin-top: 20px;
    padding: 0 1rem;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}

.exit{
    width: 10px;
    height: 3em;
}

.exit{
    width: 10px;
    height: 3em;
}

.exit .material-icons{
    margin: 20px;
    font-size: 3em;
    color: rgb(255, 136, 24);
}
